html{
  height: 100%;
  display: flex;
  background-color: grey;
}

body {
  width: 100%;
  margin: auto;
}

.Appli {
  text-align: center;
}

.taskText{
  width: 300px;
}

.titulo{
  font-size: 100px;
  text-align: center;
}

.input {
  width: 100%;
  text-align: center;
}


a{
  float:right;
  margin-right:20px;
}

.trashIcon:hover {
  color:tomato;
  size: 5px;
}

.deleteButton{
  float: right;
}